{# formCategoria.twig #}

{% extends "/Layouts/layout.twig" %}

{% block content %}

<div class="container mt-5 mb-5">
    {{ acaoView | raw }}
    <form method="POST" enctype="multipart/form-data" action={{ path }}>
        <div class="row mx-auto my-auto text-left mt-5 justify-content-center">
            <input type="hidden" name="id" id="id" value={{ data['id'] }} >

            <div class="col-md-6">
                <label for="Categoria" class="form-label">Categoria</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="Categoria" 
                    name="Categoria" 
                    aria-describedby="Categoria"
                    maxlength="100"
                    required
                    value={{ dataInDatabase.Categoria }}
                >
            </div>

            <div class="col-md-6">
                <label for="Status">Status</label>
                <select name="Status" id="Status" class="form-control" required>
                    <option value=""  {{ dataInDatabase.Status == ""  ? "SELECTED": "" }}>...</option>
                    <option value="1" {{ dataInDatabase.Status == "1"  ? "SELECTED": "" }}>Ativo</option>
                    <option value="2" {{ dataInDatabase.Status == "2"  ? "SELECTED": "" }}>Inativo</option>
                </select>
            </div>

            <div class="col-md-12">
                <label for="Descricao" class="form-label">Descrição</label>
                <textarea 
                    type="text" 
                    class="form-control" 
                    id="Descricao" 
                    name="Descricao" 
                    aria-describedby="Descricao"
                    maxlength="300"
                    required>{{ dataInDatabase.Descricao }}</textarea>
            </div>
        </div>
        <div class="row my-auto mx-auto justify-content-center p-5">
            {{ returnButton | raw }}
            {% if acao != 'visualize' %}
                <button type="submit" class="btn btn-outline-danger">Gravar</button>
            {% endif %}
        </div>
    </form>
</div>

{% endblock content %}